<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<h1>Oxidize RP</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for routine in routines %}
    {% include "routine.html" %}
    {% endfor %}
    <tr>
      <td>
        <button class="btn" hx-get="/routine/create" hx-target="closest body">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
